.cart-body {
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    background-color: rgb(45, 45, 45);

    display: flex;

    padding: 12px 24px;
}


.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.cart {


    width: 50%;

}

.item-img {
    overflow: hidden;
    max-width: 30%;
    color: black;
    padding: 12px 24px;
}

.data {
    display: flex;
    width: 100%;
    height: auto;
    padding: 24px;
}

.item-info {
    max-width: 70%;
    padding: 12px 24px;

}







.card-img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
}







p {

    font-size: 1.5em;
    font-weight: 500;
}

h4 {

    font-size: 1.75em;
    font-weight: 700;
}

.rating {
    display: flex;
    justify-content: space-between;
}

.category {
    display: flex;
    justify-content: start;
    margin: 0;
    position: relative;
    gap: 6px
}




.delete {
    padding: 12px 24px;
}