.details p {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 0px;

}

.details h4 {
    font-size: 1.75em;
    font-weight: 700;
    margin-top: 0px;
}

.details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.detail-Price {
    display: flex;
    justify-content: space-between;
}

#divider {
    width: 100%;
    height: 1px;
    background-color: #a9b0c655;
    border: none;
}

#checkout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: #f8f8f8;
    border: 1px solid transparent;
    background-color: tomato;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    min-width: 100%;
}

#checkout-button:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: #f8f8f8;
    border: 1px solid transparent;
    background-color: rgb(235, 69, 40);
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    min-width: 100%;
    box-shadow: 0px 2px 2px #d9dadd55;
}

.checkout-container {
    display: flex;
    flex-direction: column;
    min-width: 425px;
    padding: 12px;
    margin-top: 12px;

}

.checkout-container-title {
    background-color: tomato;
    color: #f8f8f8;
    padding: 8px;

}

@media only screen and (max-width: 600px) {
    .checkout-container {
        display: flex;
        flex-direction: column;
        min-width: 350px;

    }
}