.top-card {
    width: 300px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;


}



.top-products-container {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: black,


}

.cartBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    overflow: hidden;
    background-color: rgb(58, 58, 58);
    padding: 12px;
    margin-bottom: 12px;

}

.card-image img {
    max-width: 100%;
    object-fit: cover;
    height: auto;

}


.product-item {
    cursor: pointer;
    padding: 10px;

    transition: background-color 0.3s, font-weight 0.3s;
}

.product-item.active {
    font-weight: bold;
    background-color: tomato;
}


#divider {
    width: 100%;
    height: 1px;
    background-color: #a9b0c655;
    border: none;
    margin: 0px;
}

#cart-button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: tomato;
    border: 1px solid transparent;
    background-color: rgb(24, 24, 24);
    border: 1px solid tomato;
    padding: 0.5em 1em;
    font-size: 0.75em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    min-width: 150px;
}

#cart-button-wishlist {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid transparent;
    border: 1px solid tomato;
    padding: 0.5em 1em;
    font-size: 0.75em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    min-width: 60px;
}

#cart-button:hover {
    background-color: #fa5639;
    border: 1px solid #a9b0c6;
}

.rating {
    display: flex;
    justify-content: space-between;
}



.tab ul {
    flex-wrap: wrap;
    max-width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 24px;
    cursor: pointer;
    padding: 0px;
    border: 2px solid tomato
}

.tab ul li {
    font-size: 16px;
    padding: 8px 12px;


}



/*

Featured Products

*/
.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.top-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    overflow: hidden;
    padding: 12px 24px;

}

.top-image {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    margin-bottom: 12px;
    cursor: pointer;

}

.top-products p {
    font-size: 14px;
    font-weight: 500;
    color: rgba(191, 215, 236, 0.8);

}

#price-id {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 400;
    text-justify: center;
}

#heading {


    margin-top: 12px;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    padding: 12px;




}

#price-id span {
    font-size: 14px;
    font-weight: 300;
    text-decoration: line-through;
    color: rgba(240, 248, 255, 0.263);
}

#title {
    height: 48px;
    text-align: center;
}