body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

.main {
    display: flex;
    margin: 24px;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;

}

.image-container {
    width: 400px;
    height: auto;
    overflow: hidden;
    margin-top: 20px;


}

#image-1 {
    width: 100%;
    object-fit: cover;

}

.image-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;

}

#ShopButton {
    color: #f8f8f8;
    border: 1px solid transparent;
    background-color: tomato;

    border: 1px solid transparent;
    padding: .6em;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    transition: border-color 0.25s;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ShopButton:hover {
    background-color: rgb(250, 86, 57);
    border: 1px solid #f8f8f8;
}



.image-info h1 {
    font-size: 2.4em;
    line-height: 1.1;
    color: aliceblue;
    margin: 0;

}

.image-info h4 {
    font-size: 1.4em;
    line-height: 1.1;
    color: aliceblue;
    text-align: justify;

}

#discount {
    font-size: .7em;
    text-decoration: line-through;
    color: #f8f8f85c;
    margin-left: 12px;
}