.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
    padding: 12px;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 12px 8px;


}

.navIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-right: 12px;
}

.navIcons a {
    color: rgb(255, 255, 255, .8);
    font-size: 1.5rem;
    width: 40px;

}

.logo a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    margin-left: 12px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

#lblCartCount {
    font-size: 12px;
    background-color: tomato;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}

#search {
    color: tomato;
    border: none;
    margin: 0;
    color: white;

}

.search {
    display: flex;
    padding: 4px;
}

#searchIcon {
    color: tomato;
}