.reviews-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.reviews-title {
    text-align: center;
    color: tomato;
    margin-bottom: 16px;
    font-weight: 500;
}

.review-card {
    background-color: #1e1e1e;
    border: 1px solid tomato;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 1200px;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-name {
    color: tomato;
    font-size: 18px;
    margin: 0;
}

.review-date {
    font-size: 14px;
    color: #cdcdcd;
}

.review-text {
    margin: 10px 0;
    font-size: 16px;
    color: #cdcdcd;
}

.review-rating {
    color: tomato;
    font-size: 18px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .review-card {
        padding: 10px;
    }

    .review-name {
        font-size: 16px;
    }

    .review-text {
        font-size: 14px;
    }

    .review-rating {
        font-size: 16px;
    }
}


/* overview */
/* styles/Overview.css */
.overview-container {

    max-width: 70%;
    margin: 0 auto;
    padding: 24px;
    line-height: 1.6;
    font-size: 16px;
    color: #b7b7b7;
}

.overview-highlight {
    color: tomato;
    font-weight: bold;
}

@media (max-width: 768px) {
    .overview-container {
        padding: 16px;
        font-size: 14px;
        line-height: 1.5;
    }
}


/* specs8?*/


.specifications-container {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.specifications-table {
    width: 100%;
    border-collapse: collapse;
}

.specifications-table th,
.specifications-table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.specifications-table th {
    background-color: tomato;
    color: white;
    font-weight: bold;
}

.specifications-table td {
    color: tomato;
}



@media (max-width: 768px) {

    .specifications-table th,
    .specifications-table td {
        padding: 8px;
    }

    .review-card {
        width: 100%;
    }

    .specifications-container {
        width: 100%;
        margin: 0 auto;
        padding: 20px;
    }
}